<section id="hero">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <center>
          <%= image_tag('logo-green-grey.svg', class: 'img-fluid hero-logo') %>
          <p class="lead">
            LoadLead is a For Trucker by Trucker Loadmatching service. We understand the financial hurdles the logistics community faces and promise to be your only R.O.I Positive LoadBoard Service provider!
          </p>
        </center>
      </div>

      <div class="col-md-6 header-right d-none d-md-block text-center">
        <p>Interested? Get 50% off your first month!</p>
        <form>
          <fieldset class="form-group">
            <label class="sr-only">email</label>
            <input type="text" class="form-control" placeholder="email address" />
          </fieldset>
          <fieldset class="form-group">
            <label class="sr-only">I am..</label>
            <input type="text" class="form-control" placeholder="Broker, Shipper Driver" />
          </fieldset>
          <button type="submit" class="btn btn-outline-info btn-block disabled">Get My Promo Code</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <a href="#social"><i class="fas fa-chevron-double-down fa-3x"></i></i></a>
      </div>
    </div>

  </div>
</section>
